/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  box-sizing: border-box;
}

/* ヘッター */
header {
  height: 80px;
  background-color:gainsboro;
  border-radius: 5px;
}
.footer-list {
  float: right;
  display: flex;
  padding: 23px;
}
.current-user-name {
  font-size: 20px;
}
.login-btn {
  font-size: 20px;
  text-decoration: none;
  margin: auto 40px;
}
.registrations-btn {
  font-size: 20px;
  text-decoration: none;
}
.logout-btn {
  font-size: 20px;
  text-decoration: none;
  margin: auto 40px;
}

/* ログイン,新規登録ページ */
.login-page {
  border: 2px solid gainsboro;
  border-radius: 10px;
  margin: 200px 500px;
}
.field-name, .field-email, .field-password, .field-password, .field-confirmation, .actions{
  text-align:center;
  margin-top: 10px;
}
.actions {
  margin-bottom: 10px;
}
.login-page h2 {
  text-align:center;
  margin-top: 10px;
}
