// Place all the styles related to the score controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// トップページ
.contents {
  text-align: center;
  font-size: 50px;
  margin: 170px 0 50px 0;
}

.wrap {
  text-align: center;
  
}
.wrap input {
  width: 120px;
  height: 60px;
  font-size: 20px;
  border-radius: 13px;
  background-color:red;
}

// ランキング
.ranking {
  margin-top: 310px
}
.ranking p {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}
.score-lists {
  
}
.score-list {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid grey;
}
.user-name {
  margin-right: 50px;
}
.user-score {
  margin-right: 50px;
}